<?xml version='1.0' encoding='utf-8'?>
<widget id="com.card.signup" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CardSignup</name>
    <description>
        A mobile application allowing someone to sign up with CARD.com after selecting a personalized debit card from a gallery
    </description>
    <author email="TODO@card.com" href="https://www.card.com">
        Andrew Borba
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
