/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute;             /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px;                   /* text area height */
    width: 225px;                   /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                    /* offset horizontal: half of text area width */
}



/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/* Fonts */

@font-face {
font-family: "Roboto-Regular";
src: url("../res/fonts/Roboto-Regular.ttf") format("opentype");   
    /* Make sure you defined the correct path, which is related to
        the location of your file `my_css.css` */ 
}

@font-face {
font-family: "Roboto-Thin";
src: url("../res/fonts/Roboto-Thin.ttf") format("opentype");   
    /* Make sure you defined the correct path, which is related to
        the location of your file `my_css.css` */ 
}

/* Enlarge header, then fix back button line-height */
/*
.ui-header {
    height: 70px;
    line-height: 70px;
}

.ui-header .ui-btn-left {
    line-height: 100%;
}
*/

/* Expand the margin on the header */
.ui-title {
    margin: 0.6em 10% 0.8em !important;
}

/* global class styles */

.content-container {
    position: relative;
    padding: 20px;
    background: #3d3d3d;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px ridge #666;
}

/* intro styles */

/* login styles */

#login #connectFacebook {
    margin-bottom: 100px;
}

#login #noFacebook {

}

#login #connectFacebookLabel {
}

#login #connectFacebookButton {
    margin-top: 20px;
    background: #3b5998;
}

#login #noFacebookLabel {
}

#login #noFacebookNextButton {
    margin-top: 20px;
}

/* gallery styles */

#gallery .gallery-card {
    border: 3px ridge #666;
    width: 250px;
    height: auto;
}

#gallery .card-title {
    margin: 3px;
}

/* card_details styles */

#card_details #details-campaign-header {
    margin-top: -15px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-shadow: -2px -2px 1px #222;
}

#card_details .horizontal-borders {
    padding: 10px 0;
    border-top: 2px ridge #666;
    border-bottom: 2px ridge #666;
}

#card_details #option-slider-carousel {
    margin-right: 20px;
}

#card_details #option-slider {
    width: 300px;
}

#card_details #option-slider ul.slides img {
    height: 195px;
    width: auto;
}

#card_details #option-carousel {
    width: 300px;
}

#card_details #story {
    position: static;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    overflow-y: scroll;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    #card_details #container {
    }

    #card_details #option-slider-carousel {
        display: inline-block;
    }

    #card_details #slider {
    }

    #card_details #option-carousel {
    }

    #card_details #story {
        position: absolute;
        right: 20px;
        left: 340px;
    }
}

/* order form styles */

#order_form #card-container {
    position: relative;
    padding: 10px;
    background: #3d3d3d;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px ridge #666;
    text-align: center;
    margin-bottom: 20px;
}

#order_form #card-container p {
    margin: 0;
    font-size: 24px;
    color: #ddd;
    text-shadow: -1px -1px 1px #000;
}

#order_form #card-container img {
    display: inline-block;
    border: 4px inset white;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#order_form .form-section-header {
    padding: 2px;
    border-bottom: 2px ridge #666;
    color: #ddd;
    text-shadow: -1px -1px 1px #000;
}

#order_form .form-section-label {
    position: relative;
    top: 0.5em;
    color: #999;
    text-shadow: -1px -1px 1px #000;
}

#order_form .form-section-text {
    color: #999;
    text-shadow: -1px -1px 1px #000;
}

/* horizontal scroll view styles */

.gallery-wrapper {
    width: 100%;
    height: auto;

    overflow: hidden;
}

.gallery-scroller {
    width: auto;
    height: 100%;
    overflow: auto;

    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.gallery-scroller ul {
    list-style: none;
    text-align: center;
}

.gallery-scroller li {
    display: block;
    float: left;
    height: 100%;
    margin: 10px;
}
